Repository boostcampwm-2024/web14-betting-duck, pull requests merged in 2024-11, with the labels that each got.

#3 [공통] 개발 환경 세팅
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .husky/pre-commit
  .prettierrc
  README.md
  backend/.gitignore
  eslint.config.mjs
  frontend/.gitignore
  package.json
  pnpm-lock.yaml
Labels: chore

#92 [BE] 엔티티 생성
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.module.ts
  backend/src/auth/user.entity.ts
  backend/src/bet-room/bet-result.entity.ts
  backend/src/bet-room/bet-room.entity.ts
  backend/src/bet/bet.entity.ts
  backend/src/config/typeorm.config.ts
  backend/src/user.entity.ts
Labels: P1 - High, backend

#93 chore: 백엔드 자동배포 설정 추가[#1]
  .github/workflows/backend-deploy.yml
Labels: chore

#94 [BE] docker-compose 수정
  .github/workflows/backend-deploy.yml
  .gitignore
  backend/docker-compose.yml
  backend/src/config/typeorm.config.ts
  nginx.conf
Labels: P1 - High, backend

#105 chore: redis 컨테이너 추가 및 서버에 연결
  backend/docker-compose.yml
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/config/redis.config.ts
Labels: chore, backend

#112 [FE] 투표 생성 페이지 퍼블리싱 및 일부 기능 구현
  backend/pnpm-lock.yaml
  frontend/src/assets/icons/arrow-down.svg
  frontend/src/assets/icons/arrow-up.svg
  frontend/src/assets/icons/duck.svg
  frontend/src/assets/icons/text.svg
  frontend/src/assets/icons/timer.svg
  frontend/src/features/Prediction/index.ts
  frontend/src/features/Prediction/model/api.ts
  frontend/src/features/Prediction/model/store.ts
  frontend/src/features/Prediction/model/types.ts
  frontend/src/features/Prediction/ui/PredictionCreationPage.tsx
  frontend/src/shared/icons/ArrowDownIcon.tsx
  frontend/src/shared/icons/ArrowUpIcon.tsx
  frontend/src/shared/icons/ChatIcon.tsx
  frontend/src/shared/icons/CreateVoteIcon.tsx
  frontend/src/shared/icons/DuckIcon.tsx
  frontend/src/shared/icons/LoginIcon.tsx
  frontend/src/shared/icons/LogoIcon.tsx
  frontend/src/shared/icons/TextIcon.tsx
  frontend/src/shared/icons/TimerIcon.tsx
  frontend/src/shared/icons/UserIcon.tsx
  frontend/src/shared/icons/index.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Labels: P1 - High, feature, frontend, UI/UX

#115 [BE] - socket 통신을 위한 설정 추가
  backend/src/bet/bet.gateway.ts
  backend/src/chat/chat.gateway.ts
  nginx.conf
  shared/schemas/bet/socket/request.ts
Labels: chore, backend

#116 [BE] - 소켓통신 zod 적용
  backend/nest-cli.json
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/bet/bet.gateway.ts
  backend/src/chat/chat.gateway.ts
  backend/tsconfig.json
  shared/schemas/bet/socket/request.ts
  shared/schemas/chat/socket/reponse.ts
  shared/schemas/chat/socket/request.ts
  shared/schemas/shared.ts
Labels: feature, backend

#122 [BE] - 소켓 통신에 대한 에러, 인증 처리
  backend/src/chat/chat.gateway.ts
  backend/src/utils/filters/global-ws-exception-filter.ts
  backend/src/utils/guards/authenticated-guard.ts
Labels: feature, backend

#126 [BE] - 로그인 API 구현
  backend/package.json
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/user.controller.ts
  backend/src/auth/user.module.ts
  backend/src/auth/user.repository.ts
  backend/src/auth/user.service.ts
  pnpm-lock.yaml
  shared/schemas/users/request.ts
Labels: feature, backend

#127 [BE] 베팅방 수정 API 구현
  backend/src/bet-room/bet-room.controller.ts
  backend/src/bet-room/bet-room.service.ts
  backend/src/bet-room/dto/create-bet-room.dto.ts
  backend/src/bet-room/dto/update-bet-room.dto.ts
Labels: feature, backend

#128 [BE] 베팅방 종료 API 구현
  backend/src/bet-result/bet-result.entity.ts
  backend/src/bet-result/bet-result.module.ts
  backend/src/bet-result/bet-result.repository.ts
  backend/src/bet-room/bet-room.controller.ts
  backend/src/bet-room/bet-room.entity.ts
  backend/src/bet-room/bet-room.module.ts
  backend/src/bet-room/bet-room.service.spec.ts
  backend/src/bet-room/bet-room.service.ts
  backend/src/bet/bet.gateway.ts
  backend/src/utils/redis.manager.ts
Labels: feature, backend

#129 [BE] - swagger 추가
  backend/package.json
  backend/src/auth/dto/sign-in-user.dto.ts
  backend/src/auth/dto/sign-up-user.dto.ts
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
  backend/src/config/swagger.config.ts
  backend/src/main.ts
  pnpm-lock.yaml
  shared/schemas/users/request.ts
Labels: feature, backend

#130 [BE] - 엔드포인트 연결 문제 수정
  backend/src/auth/user.controller.ts
  backend/src/config/swagger.config.ts
  nginx.conf
Labels: backend

#139 [FE] 승부예측생성페이지 퍼블리싱 완료/기능구현/코드리팩터링/성능최적화
  frontend/src/features/create-vote/model/helpers/formatData.ts
  frontend/src/features/create-vote/model/store.ts
  frontend/src/features/create-vote/model/types.ts
  frontend/src/features/create-vote/ui/CreateVotePage.tsx
  frontend/src/index.css
Labels: P1 - High, feature, frontend, UI/UX

#144 [BE] - 유저 정보 조회 API 구현
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
  backend/src/chat/chat.gateway.ts
  backend/src/main.ts
  backend/src/utils/filters/global-http-exception.filter.ts
  backend/src/utils/filters/global-ws-exception.filter.ts
  backend/src/utils/middlewares/logger.middleware.ts
Labels: feature, backend

#162 [FE] 로그인/회원가입 페이지 퍼블리싱 및 탭 기능 구현
  frontend/src/assets/icons/login-id-icon.svg
  frontend/src/assets/icons/login-password-icon.svg
  frontend/src/assets/icons/main-logo.svg
  frontend/src/features/create-vote/ui/components/CaseInputs.tsx
  frontend/src/features/create-vote/ui/components/TitleInput.tsx
  frontend/src/features/login-page/index.ts
  frontend/src/features/login-page/ui/LoginPage.tsx
  frontend/src/routes/login.tsx
  frontend/src/shared/components/input/InputField.tsx
  frontend/src/shared/icons/LoginIDIcon.tsx
  frontend/src/shared/icons/LoginPasswordIcon.tsx
  frontend/src/shared/icons/MainLogoIcon.tsx
  frontend/src/shared/icons/index.ts
Labels: P1 - High, frontend, UI/UX

#164 [BE] - 사용자 로그인에서 이메을을 사용하도록 변경
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/user.repository.ts
  backend/src/auth/user.service.ts
  shared/schemas/users/request.ts
Labels: chore, backend

#165 [BE] - Access 토큰에서 userId를 파싱하도록 수정
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
Labels: backend

#177 [BE] - 비회원 로그인 및 닉네임 중복검사 수정
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
  backend/src/utils/redis.manager.ts
Labels: backend

#178 [BE] - 로그아웃 API 구현
  backend/src/auth/dto/upgrade-guest.dto.ts
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
  backend/src/utils/redis.manager.ts
  shared/schemas/users/request.ts
Labels: feature, backend

#181 [BE] - 닉네임 중복 확인 API 메소드 수정
  backend/src/auth/dto/check-nickname-exists.dto.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
  backend/src/utils/Interceptors/response-transform.interceptor.ts
  shared/schemas/users/request.ts
Labels: chore, backend

#185 Feature/issue 80
  docker-compose.yml
  nginx.conf
Labels: chore

#186 [BE] - 닉네임 중복 관련 로직 추가
  backend/src/auth/user.service.ts
  backend/src/utils/redis.manager.ts
Labels: backend

#187 [BE] - redis manager의 xadd, xread 구현
  backend/src/auth/user.controller.ts
  backend/src/auth/user.service.ts
  backend/src/utils/redis.manager.ts
Labels: backend

#190 [BE] - SSL 인증 롤백
  backend/src/config/redis.config.ts
  backend/src/utils/redis.manager.ts
  nginx.conf
Labels: backend

#203 [BE] - Redis Streams 구현
  backend/src/app.module.ts
  backend/src/auth/user.controller.ts
  backend/src/auth/user.module.ts
  backend/src/auth/user.service.ts
  backend/src/utils/db.manager.module.ts
  backend/src/utils/db.manager.ts
  backend/src/utils/redis-timeout-scheduler.lua
  backend/src/utils/redis.manager.ts
Labels: feature, backend

#204 [BE] - DBManager setBet 메소드 추가
  backend/src/auth/user.module.ts
  backend/src/auth/user.service.ts
  backend/src/utils/db.manager.module.ts
  backend/src/utils/db.manager.ts
Labels: feature, backend

#206 [BE] - Read Through 캐시 전략 적용
  backend/src/auth/user.service.ts
  backend/src/bet/bet.gateway.ts
  backend/src/chat/chat.gateway.ts
  docker-compose-prod.yml
  nginx.prod.conf
Labels: backend
